<div class="banner">
    <img src="/images/banner.png" alt="banner">
    <div class="caption">
        <img src="/images/caption.png" alt="">
        <a class="btn btn-warning btn-lg shadow-sm" id="join-button">Join Us For Free</a>
    </div>
</div>