<footer>
    <div class="container-fluid row mx-auto info">
        <div class="col-sm-1"></div>
        <div class="col-sm-4 d-flex flex-column pl-5">
            <div class="title">
                <i class="icon fas fa-book-open" style="vertical-align: middle;"></i>
                <span>&nbsp;Online Courses</span>
            </div>
            <p>Online Courses is an Vietnamese massive open online course provider aimed at professional adults and
                students.</p>
            <div>
                <div class="contact">
                    <a href="/"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="contact">
                    <a href="/"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="contact">
                    <a href="/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="categories col-sm-6 mt-4 row">
            <div class="d-flex flex-column col-sm">
                <h4>Newest Courses</h4>
                {{#each newestCourses as |course|}}
                <a href="/course/{{Id}}">{{Name}}</a>
                {{/each}}
            </div>
            <div class="d-flex flex-column col-sm">
                <h4>Most Views Courses</h4>
                {{#each mostViewCourses as |course|}}
                <a href="/course/{{Id}}">{{Name}}</a>
                {{/each}}
            </div>

        </div>
    </div>
    <div class="copyright">
        Copyright ©2020 All rights reserved | Contact this number for more infomation: +8469696969
    </div>
</footer>