<footer>
    <div class="container-fluid row mx-auto info">
        <div class="col-sm-1"></div>
        <div class="col-sm-4 d-flex flex-column pl-5">
            <div class="title">
                <i class="icon fas fa-book-open" style="vertical-align: middle;"></i>
                <span>&nbsp;Online Courses</span>
            </div>
            <p>Online Courses is an Vietnamese massive open online course provider aimed at professional adults and
                students.</p>
            <div>
                <div class="contact">
                    <a href="/"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="contact">
                    <a href="/"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="contact">
                    <a href="/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="categories col-sm-6 mt-4 row">
            <div class="d-flex flex-column col-sm">
                <h4>Online Certificates</h4>
                <a href="/">Software Engineer</a>
                <a href="/">Design &amp; Creatives</a>
                <a href="/">Architecture</a>
                <a href="/">Data science</a>
                <a href="/">Machine Learning</a>
                <a href="/">Finance</a>
            </div>
            <div class="d-flex flex-column col-sm">
                <h4>Top Online Courses</h4>
                <a href="/">Master Python in 5 mins</a>
                <a href="/">Deep Learning is easy</a>
                <a href="/">Android for beginners</a>
                <a href="/">Becoming a bussiness analysis</a>
                <a href="/">Web programming advanced</a>
                <a href="/">Basic Flutter for beginners</a>
                <a href="/">MS Office Excel with Bill Gates</a>
            </div>
            <div class="d-flex flex-column col-sm-2">
                <h4>Support</h4>
                <a href="/">Learners</a>
                <a href="/">Partners</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        Copyright ©2020 All rights reserved | Contact this number for more infomation: +8469696969
    </div>
</footer>