<nav class="navbar navbar-expand-lg fixed-top py-3">
    <div class="container-fluid">
        <a href="/" class="navbar-brand text-uppercase font-weight-bold">
            <i class="icon fas fa-book-open" style="vertical-align: middle;"></i>
            <span>&nbsp;Online Courses</span>
        </a>

        <form class="form-inline my-2 my-lg-0 w-50">
            <input class="form-control mr-sm-2 w-75 search-bar" type="search" placeholder="Search courses..."
                aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="#" class="nav-link text-uppercase font-weight-bold">Home <span
                            class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Categories</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Price</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">About</a></li>
            </ul>

        </div>

        <form class="form-inline my-2 ml-4">
            <a class="btn btn-warning my-2 my-sm-0 mx-1" type="submit">Join</a>
            <a class="btn btn-outline-light my-2 my-sm-0 mx-1" type="submit">Login</a>
        </form>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right">
            <i class="fa fa-bars" style="color: white; font-size: 30pt"></i>
        </button>
    </div>
</nav>