{{#section 'title'}}
<title>Edit Category Item</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
{{/section}}

{{#section 'script'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.8.1/dist/sweetalert2.all.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
    $('#fuMain').fileinput({
        theme: 'fa',
        allowedFileExtensions: ['png', 'jpg', 'gif'],
    });


    function errorMessage(message) {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: message,

        });
    }
</script>
{{/section}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Account Edit</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                        <li class="breadcrumb-item active">Category</li>
                        <li class="breadcrumb-item active">Category Edit</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content container">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title font-weight-bold">Edit Category Item</h3>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">

                <div class="card-body">
                    <div class="form-group">
                        <input id="fuMain" type="file" class="file" data-preview-file-type="text" name="fuMain">
                    </div>
                </div>

                <!-- /.card-body -->
            </form>
        </div>

    </section>
    <!-- /.content -->
</div>