<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="/styles/account.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!--Style-->
    <style>
        #error-message {
            color: red;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <a href="/"><i class="fab fa-facebook-square"></i></a>
                        <a href="/auth/google"><i class="fab fa-google-plus-square"></i></a>
                        <a href="/"><i class="fab fa-twitter-square"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="POST" id="frmLogin">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="email" name="email" id="email">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password" name="password"
                                id="password">
                        </div>
                        <div>
                            <p id="error-message">{{err_message}}</p>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/account/signup">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#frmLogin").on("submit", function (e) {

            e.preventDefault();

            const email = $('#email').val();
            if (email.length === 0) {
                errorMessage("Email cannot be empty!")
                return;
            }

            const password = $('#password').val();
            if (password.length < 6) {
                errorMessage("Password must have at least 6 characters!")
                return;
            }

            $('#frmLogin').off('submit').submit();
        });

        function errorMessage(message) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: message,

            });
        }
</body >

</html >