{{#section 'title'}}
<title>Edit Account</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/styles/admin/dist/css/adminlte.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="/styles/admin/fontawesome-free/css/all.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="/styles/admin/fontawesome-free/css/select2.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/styles/admin/dist/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

{{/section}}
{{#section 'script'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.8.1/dist/sweetalert2.all.min.js"></script>
<script src="/js/admin/js/adminlte.min.js"></script>

referrerpolicy="origin"></script>
<script>

    $("#frmPassword").on("submit", function (e) {

        e.preventDefault();

        const oldPassword = $('#old-password').val();
        if (oldPassword.length < 6) {
            errorMessage("Password must have at least 6 characters!")
            return;
        }

        const password = $('#new-password').val();
        if (password.length < 6) {
            errorMessage("Password must have at least 6 characters!")
            return;
        }

        const passwordConfirm = $('#password-confirm').val();
        if (passwordConfirm !== password) {
            errorMessage("Password and confirm password must be the same!")
            return;
        }

        $('#frmPassword').off('submit').submit();
    });

    $("#success").each(function (e) {
        Swal.fire({
            icon: 'success',
            title: 'Password changed!',
            text: $(this).val(),
        });
    });

    $("#err").each(function (e) {
        errorMessage($(this).val());
    });

    function errorMessage(message) {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: message,
        });
    }
</script>
{{/section}}
<!-- Content Wrapper. Contains page content -->
{{#if err}}
<input id="err" style="display: none;" value="{{err}}"></input>
{{/if}}
{{#if success}}
<input id="success" style="display: none;" value="{{success}}"></input>
{{/if}}

<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header mt-lg-5">
        <div class="container-fluid">
            <div class="row mb-2 justify-content-center">
                <div>
                    <h1 class="font-weight-bold">Change your password account</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content container mt-lg-1">
        <div class="card card-primary">
            <div class="card-header" style="background-color: #d82a4e;">
                <h3 class="card-title font-weight-bold">Edit passowrd</h3>
            </div>
            <form action="" method="POST" id="frmPassword" class="p-lg-5">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input id="old-password" type="password" class="form-control" placeholder="type your old password"
                        name="old-password">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input id="new-password" type="password" class="form-control" placeholder="type your new password"
                        name="new-password">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input id="password-confirm" type="password" class="form-control"
                        placeholder="confirm your new password">
                </div>
                <!-- /.card-body -->
                <div class="form-group mx-auto">
                    <input type="submit" value="Confirm" class="btn btn-danger login_btn ">
                </div>
            </form>
        </div>
    </section>
    <!-- /.content -->
</div>