{{#section 'css'}}
<link rel="stylesheet" href="/styles/home.css">
{{/section}}

{{#section 'script'}}
<script src="/js/main.js"></script>
{{/section}}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!-- Hero section -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <section class="hero-section set-bg" data-setbg="public/img/banner1.jpg">
                <div class="container">
                    <div class="hero-text">
                        <h1 class="font-weight-bold">Get all the best free online courses </h1>
                        <p class="font-weight-bold">Build skills with courses, certificates, and degrees online from
                            world-class universities and
                            companies.</p>
                        {{#if isAuth}}
                        <a href="#categories" class="btn btn-danger font-weight-bold text-white p-3">Find
                            out</a>
                        {{else}}
                        <a href="/account/signup" class="btn btn-danger font-weight-bold text-white p-3">Join for
                            free</a>
                        {{/if}}

                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item hero-section">
            <section class="hero-section set-bg" data-setbg="public/img/banner2.jpg">
            </section>
        </div>
        <div class="carousel-item">
            <section class="hero-section set-bg" data-setbg="public/img/banner3.jpg">

            </section>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{{!-- <section class="hero-section set-bg" data-setbg="public/img/bg.jpg">
    <div class="container">
        <div class="hero-text text-white">
            <h2>Get The Best Free Online Courses</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris
                scelerisque, at rutrum nulla <br> dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
        </div>
    </div>
</section> --}}
<!-- Hero section end -->

<!-- categories section -->
<section class="categories-section spad" id="categories">
    <div class="container">
        <div class="section-title">
            <h2>Our Course Categories</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris
                scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
        </div>
        <div class="row">
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="public/img/categories/1.jpg"></div>
                    <div class="ci-text">
                        <h5>IT Development</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>120 Courses</span>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="public/img/categories/2.jpg"></div>
                    <div class="ci-text">
                        <h5>Web Design</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>70 Courses</span>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="public/img/categories/3.jpg"></div>
                    <div class="ci-text">
                        <h5>Illustration & Drawing</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>55 Courses</span>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="public/img/categories/4.jpg"></div>
                    <div class="ci-text">
                        <h5>Social Media</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>40 Courses</span>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="public/img/categories/5.jpg"></div>
                    <div class="ci-text">
                        <h5>Photoshop</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>220 Courses</span>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" data-setbg="public/img/categories/6.jpg"></div>
                    <div class="ci-text">
                        <h5>Cryptocurrencies</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <span>25 Courses</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- categories section end -->

<!-- course section -->
<section class="course-section spad">
    <div class="container">
        <div class="section-title mb-0">
            <h2>Featured Courses</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris
                scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
        </div>
    </div>
    <div class="course-warp">
        <ul class="course-filter controls">
            <li class="control active" data-filter="all">All</li>
            <li class="control" data-filter=".finance">Finance</li>
            <li class="control" data-filter=".design">Design</li>
            <li class="control" data-filter=".web">Web Development</li>
            <li class="control" data-filter=".photo">Photography</li>
        </ul>
        <div class="row course-items-area">
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 finance">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="public/img/courses/1.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>Art & Crafts</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="public/img/authors/1.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 design">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="public/img/courses/2.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="public/img/authors/2.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 web">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="public/img/courses/3.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>Graphic Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="public/img/authors/3.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="public/img/courses/4.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="public/img/authors/4.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 finance">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="public/img/courses/5.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="public/img/authors/5.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 design">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="public/img/courses/6.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>Socia Media</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="public/img/authors/6.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 web">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="public/img/courses/7.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>IT Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="public/img/authors/7.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- course -->
            <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                <div class="course-item">
                    <div class="course-thumb set-bg" data-setbg="public/img/courses/8.jpg">
                        <div class="price">Price: $15</div>
                    </div>
                    <div class="course-info">
                        <div class="course-text">
                            <h5>HTML 5</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <div class="students">120 Students</div>
                        </div>
                        <div class="course-author">
                            <div class="ca-pic set-bg" data-setbg="public/img/authors/8.jpg"></div>
                            <p>William Parker, <span>Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course section end -->