{{#section 'css'}}
<link rel="stylesheet" href="/styles//about.css">
<link rel="stylesheet" href="/styles/home.css">
{{/section}}

{{#section 'script'}}
<script>
    $(function () {
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 10) {
                $(".navbar").addClass("active");
            } else {
                $(".navbar").removeClass("active");
            }
        });
    });

    $(window).on("resize", function () {
        if ($(window).width() < 1200) {
            $(".navbar").removeClass("fixed-top");
        } else {
            $(".navbar").addClass("fixed-top");
        }
    });

    $(document).ready(function () {
        $(".navbar").removeClass("active");
    });
</script>
{{/section}}

<div>
    <div class="all-title-box">
        <div class="container text-center">
            <h1>About Us<span class="m_1"></span></h1>
        </div>
    </div>

    <div id="overviews" class="section_lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About Website</h3>
                    <p class="lead">My website strives to be an authoritative, objective, and editorially
                        independent college review journal dedicated to providing students with relevant and trustworthy
                        guidance on the college process.</p>
                </div>
            </div>

            <div class="row align-items-center card-body">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4>2018 BEST SmartEDU education school</h4>
                        <h2>Awards Winner Support Center</h2>
                        <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula, for, do not take
                            any smile. However, one a week, my Zen asset.</p>

                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus
                            bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis
                            montes, nascetur ridiculus mus. Sed vitae rutrum neque. </p>

                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 card-body">
                    <div class="post-media wow fadeIn">
                        <img src="/public/about/about_02.jpg" alt="" class="img-fluid img-rounded">
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="/public/about/about_03.jpg" alt="" class="img-fluid img-rounded">
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>The standard my website passage, used since the 2010s</h2>
                        <p>My website ipsum dolor sit amet, consectetur adipiscing elit, sed tempor and vitality, so
                            that the labor and sorrow, some important things to do eiusmod. Over the years, I will come,
                            who will nostrud aliquip out of her the advantage of exercise, so that stimulus efforts if
                            the school district and longevity. Want to be a pain in the cupidatat cillum has been
                            criticized in the Duis et dolore magna flee produces no resultant pleasure. Excepteur
                            cupidatat blacks are not excepteur, is soothing to the soul, that is, they deserted the
                            general duties of those who are to blame for your troubles..</p>



                    </div>
                </div>
            </div>
            <div class="row align-items-center card-body">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>Development in future</h2>
                        <p>Students and teachers can use Internet Archive as a collaborative tool for sharing books and
                            digital content across remote teams or classrooms, removing the physical barriers of access
                            to books and collaborators. </p>

                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 card-body">
                    <div class="post-media wow fadeIn">
                        <img src="/public/courses/2.jpg" alt="" class="img-fluid img-rounded">
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="/public/img/photo1.png" alt="" class="img-fluid img-rounded">
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>Learn new skills online with top educators</h2>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage
                            effectively with vulnerable children and young people.</p>

                        <p><i class="fas fa-check"></i>Techniques to engage effectively with vulnerable children and young people.</p>
                        <p><i class="fas fa-check"></i>Join millions of people from around the world learning together.</p>
                        <p><i class="fas fa-check"></i>Join millions of people from around the world learning together. Online learning is as easy and natural.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom"></div>

    <div class="hmv-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="inner-hmv">
                        <div class="box-header">
                            <div class="icon-box-hmv"><i class="fas fa-trophy"></i></div>
                            <h3>Mission</h3>
                        </div>

                        <p>My Website aims to enable aspiring students to make informed decisions that
                            engender academic success. We recognize that students have different needs and provide them
                            with the information necessary to find an institution that will help them grow both
                            academically and professionally. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="inner-hmv">
                        <div class="box-header">
                            <div class="icon-box-hmv"><i class="fab fa-telegram-plane"></i></div>
                            <h3>Vision</h3>
                        </div>

                        <p>There are many variations of passages of my website available, but the majority have
                            suffered
                            alteration in some form, by injected humour, or randomised words which don't look even
                            slightly
                            believable.
                            My website ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita,
                            provident
                            cupiditate in excepturi.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="inner-hmv">
                        <div class="box-header">
                            <div class="icon-box-hmv"><i class="fas fa-history"></i></i></div>
                            <h3>History</h3>
                        </div>

                        <p>There are many variations of passages of my website available, but the majority have
                            suffered
                            alteration in some form, by injected humour, or randomised words which don't look even
                            slightly
                            believable.
                            My website ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita,
                            provident
                            cupiditate in excepturi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-page mt-3 container">
        <h3 class="fg-primary"><i class="fas fa-star"></i>&emsp; Top 5 Best Teacher &emsp;<i class="fas fa-star"></i>
        </h3>
        <hr>

        <div class="top5teacher">
            {{#each this.lteacher as |teacher|}}
            {{#with teacher}}
            <div class="teacher">
                <div class="teacheritem">
                    <div class="team-avatar">
                        <img src="/public/img/{{Image}}" alt="teacher">
                    </div>
                    <h5 class="team-name">{{Name}}</h5>
                    <span class="fg-gray fs-small">
                        Specialize: {{jobs}}</span>
                </div>
            </div>
            {{/with}}
            {{/each}}
        </div>
    </div>


    <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel">
        <div class="section-title text-center">
            <h3>Developer of Website</h3>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <section class="hero-section set-bg">
                    <div class="container">
                        <div class="hero-text">
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="/public/about/long.png" alt="Long">
                                    <h4>Trần Thành Long </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                    <p class="lead">They have got my project on time with the competition with a sed
                                        highly skilled, and experienced & professional team.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="carousel-item hero-section">
                <section class="hero-section set-bg w-100" style="background-size: contain;">
                    <div class="container">
                        <div class="hero-text">
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="/public/about/nguyentran.png" alt="nguyentran">
                                    <h4>Trần Phúc Nguyên </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                    <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was born and I will give you completed.</p>
                                </div>
                            </div>
                        </div>
                    </div </section>
            </div>
            <div class="carousel-item">
                <section class="hero-section set-bg w-100" style="background-size: contain;">
                    <div class="container">
                        <div class="hero-text">
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="/public/about/nang.png" alt="nang">
                                    <h4>Trần Đức Năng </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Great and Talented Team!</h3>
                                    <p class="lead">The master-builder of human happines no one rejects, dislikes avoids
                                        pleasure itself, because it is very pursue pleasure. </p>
                                </div>
                            </div>
                        </div>
                    </div </section>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>