footer {
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    background-color: #d82a4e;
    color: white !important;
}

footer .title {
    font-weight: bold;
    font-size: 20pt;
}

footer .title .icon {
    font-size: 40pt;
}

footer a {
    text-decoration: none;
    color: white;
    margin-top: 5px;
}

footer a:hover {
    text-decoration: none;
    color: rgb(223, 140, 151);
}

footer h4 {
    padding-bottom: 10px;
}

footer .info {
    margin-top: 50px;
}

footer .copyright {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 40px;
    font-weight: bold;
}

footer .contact {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20pt;
    background-color:  #ec2b52;
    border-radius: 50%;
}

footer .contact:hover {
    background-color: #f31d48;
}
